      
        <div class="cards-container">
            <% for(var i=0; i < ans.length; i++) { %>
            <div class="card">
                <div class="desc"> Desc :  <%= ans[i].descr %> </div>
                <div class="room"> Room :  <%= ans[i].room %> </div>
                <div class="from"> From :  <%= ans[i].fromDate %> </div>
                <div class="to">   To  :  <%= ans[i].toDate %> </div>
                <div class="team"> Team :  <%= ans[i].name %> </div>
                <form action="" method="post">
                    <input class="update btn-hover color-2" value="Update Meeting" type="submit">
                </form>
            </div>

            <% } %>